<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Título</label>
    <input id="title" formControlName="title" />
  </div>
  <div>
    <label for="author">Autor</label>
    <input id="author" formControlName="author" />
  </div>
  <div>
    <label for="gender">Género</label>
    <input id="gender" formControlName="gender" />
  </div>
  <div>
    <label for="linkImage">Enlace de Imagen</label>
    <input id="linkImage" formControlName="linkImage" />
  </div>
  <div>
    <label for="publishedDate">Fecha de Publicación</label>
    <input id="publishedDate" formControlName="publishedDate" type="date" />
  </div>
  <div>
    <label for="description">Descripción</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>
  <button type="submit" mat-button color="primary">{{ book ? 'Actualizar' : 'Agregar' }} Libro</button>
</form>
