<div class="book-list-container">
  <h1>Listado de Libros</h1>
  <div class="search-bar">
    <input
      type="text"
      placeholder="Buscar por título"
      [(ngModel)]="searchTerm"
      (input)="filterBooks()" />
  </div>

  <div class="book-carousel">
    <mat-card *ngFor="let book of filteredBooks" class="book-card">
      <div class="book-image-container">
        <img mat-card-image [src]="book.linkImage" alt="{{ book.title }}" class="book-image" />
      </div>
      <mat-card-header>
        <mat-card-title>{{ book.title }}</mat-card-title>
        <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="published-date">
          <mat-icon class="date-icon">calendar_today</mat-icon> {{ book.publishedDate }}
        </p>
      </mat-card-content>
      <mat-card-actions align="start">
        <button mat-flat-button color="primary" class="detail-button" (click)="openDetailDialog(book)">Ver detalles</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
