.home-container {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #e1f5fe, #fce4ec); /* Gradiente azul claro a rosa claro */
  color: #37474f; /* Gris oscuro para el texto */
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0277bd; /* Azul intermedio */
}

p {
  font-size: 1.2em;
  margin-bottom: 30px;
  font-weight: 300;
  color: #37474f; /* Gris oscuro */
}
