html, body {
  height: 100%; /* Ocupa toda la altura de la ventana */
  margin: 0;
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* El contenedor raíz debe ocupar toda la ventana */
}

main {
  flex: 1; /* Este contenedor crecerá para empujar el footer hacia abajo */
}

app-footer {
  background-color: #b3e5fc; /* Azul claro */
  color: #37474f; /* Gris oscuro */
  text-align: center;
  padding: 10px;
}

