<h2 mat-dialog-title>Actualizar Libro</h2>
<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Título</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Autor</mat-label>
    <input matInput formControlName="author" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Género</mat-label>
    <input matInput formControlName="gender" />
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Fecha de Publicación</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="publishedDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="description" rows="3"></textarea>
  </mat-form-field>

  <div class="mat-dialog-actions">
    <button mat-flat-button color="primary" type="submit">Actualizar Libro</button>
  </div>
</form>
